@font-face { 
  font-family: "Dancing Script";
  font-style: normal;
  src: 
    url(/files/DancingScript-Regular.ttf) format("truetype");
}

@font-face { 
  font-family: "Impact";
  font-style: normal;
  src: 
    url(/files/impact.ttf) format("truetype");
}

body {
  background-image: linear-gradient(#025b92, #0C0C40);
  background-color: #0C0C40;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
}

#logo {
  position: fixed;
  left: 70px;
  top: 8px;
  z-index: 1001;
}

#freepalestine {
  margin-top: 40px;
  margin-bottom: 10px;
}

.donate {
  margin-top: 30px;
}

.socialbox {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

#consultation {
	font-size: large;
    padding: 5px 10px;
    border-radius: 10px;
	border-color: #42A1BD;
}

em {
  font-weight: bold;
  font-style: normal;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #3FA4BC;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #2B9EFA;
}

a:hover {
  color: #FF6607;
}

footer {
  margin-top: auto;
  text-align: center;
  margin-bottom: 5px;
}

#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 3px solid white;
  margin-top: 16px;
  margin-bottom: 16px;
  display: inline;
  padding: 10px;
}

.content {
  margin:0 auto;
  margin-top: 3.1em;
  text-align: center;
}

.content p {
  text-align: center;
  text-shadow: 2px 2px black;
  margin: 0;
}

.kickstarter-page p {
  margin-bottom: 1em;
}

.content > ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  list-style-type: none;
}

.content > ul > ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  font-style: italic;
}

.needslist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.needcard {
  position: relative;
  width: 200px;
  border: 5px solid #888888;
  border-radius: 30px;
  margin: 10px;
  padding: 30px;
  background-color: white;
  color: black;
  text-shadow: none;
  text-align: left;
}

.needcard p {
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: none;
}

.circlepic {
  clip-path: circle();
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.need-header {
  width: 100px;
  position: relative;
  top: -80px;
  margin-left: 110px;
}

.need-header h3 {
  margin-top: 2px;
  margin-bottom: 0;
}

.need-text {
  margin-top: -70px;
}

.need-text p {
  text-align: left;
  font-size:x-small;
}

.need-button {
  width: 100%;
  text-align: center;
}

.subtext {
  font-size: xx-small;
}

.cardlink {
  position: relative;
  width: 200px;
  border: 2px solid #888888;
  border-radius: 30px;
  margin: 10px;
  padding: 30px;
  box-shadow: 5px 10px #dddddd;
}

.cardlink p {
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}

.cardlink:hover {
  cursor: pointer;
}

.cardlink:hover p {
  text-decoration: underline;
}

.linkspan {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

li {
  padding-bottom: 5px;
}

.book-title {
  font-style: italic;
}

p.inline {
  text-align: center;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.1em;
  background-color: #30303C;
  border-bottom: 2px solid black;
  z-index: 1000;
}

.topbar .tabs {
  margin: 0 auto;
  margin-top: 0.75em;
  height: 1em;
  background-color: #424251;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  justify-content: space-evenly;
  align-items: center;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.topbar .tabs a {
  text-wrap: nowrap;
}

.topbar .login {
  float: right;
  margin: 0 auto;
  margin-top: -1.4em;
  margin-right: 10px;
}

.menu-icon {
  position: fixed;
  font-size: 2em;
  margin-left: 12px;
  margin-top: 0.1em;
  width: fit-content;
  z-index: 1001;
}

.menu-icon a {
  color: white;
  font-weight: normal;
}

.menu-icon a:visited {
  color: white;
}

.menu-icon a:hover {
  color: white;
}

.menu {
  margin-left: -10px;
  margin-top: 50px;
  position:fixed;
  padding-right: 20px;
  height: 100%;
  visibility: hidden;
  background-color: #30303C;
  border-right: 5px double black;
  box-shadow: 1px 0px 5px black;
  clip-path: inset(0 -5px 0 0);
  z-index: 1000;
}

.script-text {
  font-family: "Dancing Script", cursive;
}

.border:hover a {
  color: #FF6607;
}

.about-img {
  float: left;
  padding-right: 10px;
}

.pronouns {
  margin-top: -1em;
  font-size: small;
}

.manifesto div {
  text-align: left;
  padding-bottom: 10px;
}

.manifesto h3 {
  color: #FF6607;
  margin-bottom: 5px;
}

.manifesto p {
  text-align: left;
}

.manifesto b {
  color: #FF6607;
}

.agreement div {
  text-align: left;
  padding-bottom: 10px;
}

.agreement h3 {
  color: #FF6607;
  margin-bottom: 5px;
}

.agreement p {
  text-align: left;
}

.agreement b {
  color: #FF6607;
}

.agreement ol {
  counter-set: item 0;
}

.agreement ol li {
  counter-increment: item;
}

.agreement ol li::marker {
  content: counter(item) ") "
}

.story div {
  margin-bottom: 20px;
}

.story p {
  text-align: left;
}

.story .red {
  color: red;
}

.story .aside {
  padding-left: 50px;
  padding-right: 50px;
  font-size: small;
}

.license {
  font-size: small;
}

.invite {
  margin-top: -80px;
}

#cabinWarmingImg {
  width: 500px;
  margin-top: 25px;
}

#inviteButton {
	font-size: x-large;
    padding: 5px 10px;
    border-radius: 10px;
	border-color: #42A1BD;
}

.congrats {
	font-family: "Impact";
	font-size: 30pt;
    background-color: #071A1E;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border: 5px #F96400 solid;
}

#nextStepButton {
	font-size: x-large;
    padding: 5px 10px;
    border-radius: 10px;
	border-color: #42A1BD;
}

.completionText {
	margin-top: 10px;
}

#nextSection p {
	margin-bottom: 10px;
}	

.crew-banner {
  background-color: white;
  border-radius: 2px;
}

.crew-banner ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.crew-banner li {
  background-color: #0C0C40;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 2px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.crew-banner li img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px 0px;
  margin: 5px;
}

.partners {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.partner-card {
  box-shadow: 5px 10px #212543;
}

.supporters ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.supporters li {
  background-color: #424251;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 2px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.supporters li img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px 0px;
  margin: 5px;
}

.featurebox {
  display: flex;
  margin: auto;
  align-items: top;
  gap: 15px;
  padding-left: 9%;
  padding-right: 9%;
  margin-left: -50%;
  margin-right: -50%;
}

.featurebox div {
  width: 30%;
  padding: 10px;
  text-align: left;
}

.content .featurebox p {
  width: auto;
  text-wrap: wrap;
  text-align: left;
}

.kickstarter {
  cursor: pointer;
  margin-top: 30px;
  padding: 30px 0;
  background-color: #0C0C40;
  border: 2px solid #0C0C40;
  border-radius: 20px;
  box-shadow: inset 1px 1px 1em #d6c9b3, inset -1px -1px 1em #d6c9b3;
}

.kickstarter-details {
  margin: 0 auto;
  width: 89%;
  background-color: #314778;
  border: 2px solid #0C0C40;
  border-top: 0;
  padding-top: 20px;
}

.kickstarter-details h4 {
  margin-top: 0;
}

.flyers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.needs {
  cursor: pointer;
  margin-top: 30px;
  background-image: url('/images/bsf-friends.jpg');
  background-position: center -35px;
  background-size: cover;
  background-color: #0C0C40;
  border: 2px solid #0C0C40;
  border-radius: 20px;
  height: 200px;
  color: black;
  position: relative;
}

.needs h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 15px;
}

p.grant {
  width: 250px;
  margin: 20px auto;
  padding: 20px;
}

p.grant i {
  background-color: black;
  border-radius: 10px;
  border: 2px solid #0C0C40;
  padding: 10px;
}

@media screen and (min-width: 800px) {
  #header-img {
    width: 25%;
    height: 25%;
  }

  .content {
    width: 50%;
  }
  
  #powerdynamics {
	float: right;
  }

  .topbar .tabs {
    width: 60%;
  }

  .kickstarter-page .needcard {
    width: 350px;
  }
}

@media screen
  and (min-width: 320px)
  and (max-width: 800px) {
  body {
    min-height: 100dvh;
  }

  #header-img {
    width: 50%;
    height: 50%;
  }

  .content {
    width: 90%;
  }

  #freepalestine img {
    width: 90%;
  }
  
  #cabinWarmingImg {
    width: 300px;
  }

  .invite {
    margin-top: -50px;
  }
  
  #powerdynamics {
	  float: left;
	  clear: left;
  }
  .featurebox {
    flex-wrap: wrap;
	margin-left: 0;
	margin-right: 0;
  }
  .featurebox div {
  width: 90%;
  padding: 8px;
  }

  .topbar .tabs {
    width: 30%;
    gap: 5px;
  }

  .kickstarter-page .needcard {
    width: 80%;
  }
}
