body {
  background-color: #020122;
  font-family: "Trebuchet MS", sans-serif;
  color: #F2F3AE;
}

em {
  font-weight: bold;
  font-style: normal;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #FC9E4F;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #EDD382;
}

a:hover {
  color: #F4442E;
}

footer {
  margin-top: 20px;
}

#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 3px solid #FC9E4F;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.content {
  margin:0 auto;
  text-align: center;
}

.content p {
  text-align: left;
    background: #020112;
    border-color: #020112;
    border-style: solid;
    border-width: 10px;
    margin: 0;
}

.content > ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  list-style-type: none;
}

.content > ul > ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  font-style: italic;
}

li {
  padding-bottom: 5px;
}

.book-title {
  font-style: italic;
}

p.inline {
  text-align: center;
}

@media screen and (min-width: 800px) {
  #header-img {
    width: 25%;
    height: 25%;
  }

  .content {
    width: 50%;
  }
}

@media screen
  and (min-width: 320px)
  and (max-width: 800px) {
  #header-img {
    width: 50%;
    height: 50%;
  }

  .content {
    width: 90%;
  }
}
